<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>dbUrl</param-name>
        <param-value>jdbc:oracle:thin:@coeoracle.aus.edu:1521:orcl</param-value>
    </context-param>
    <context-param>
        <param-name>dbUsername</param-name>
        <param-value>b00075270</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value>b00075270</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
